.searched__team {
    width: 200px;
    background-color: grey;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    cursor: pointer;
    transition: 0.3s transform;
    width: 190px;
    margin: var(--spacing-medium);
    border-radius: 5px;
}
.searched__team a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.searched__team:hover {
    box-shadow: 0 5px 20px red;
    transform: translateY(-8px);
}
.searched__container {
    display: grid;
    grid-template-columns: repeat(5, 230px);
    column-gap: 70px;
    row-gap: 30px;
    margin-top: 50px;
    /* padding: 0 100px; */
}
