.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    /* padding: 0 100px; */ 
}
.navigation__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    width: 350px;
}
.navigation__right__favs,
.navigation__right__history {
    padding-right: 50px;
}
