.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
.navigation__right {
    display: flex;
    justify-content: space-between;
    max-width: 10%;
    /* margin-right: 50px; */
}
.navigation__right__favs,
.navigation__right__history {
    padding-right: 50px;
}
