.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.navigation__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    width: 150px;
}
.navigation__right__favs,
.navigation__right__history {
    padding-right: 50px;
}
