.wrapper {
    margin-top: 45px;
}
.person__container {
    display: flex;
    flex-wrap: wrap;
    /* border-left: 5px solid var(--color-name); */
    /* border-radius: var(--border-radius-small); */
    /* padding: var(--spacing-medium); */
}
