.person__info {
    width: 300px;
    padding: 20px;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    color: #fff;
}
.person__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.person__list__item {
    padding: 5px;
    margin-bottom: 7px;
}
.person__list__item__title {
    color: rgb(183, 103, 103);
    font-style: italic;
    text-decoration: none;
    /* text-shadow: 0 0 0.5px #fff, 0 0 40px rgba(75, 33, 33, 1); */
}

/* @media screen and (max-width: 700px) {
    .wrapper {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
} */
