* {
    font-family: "Barlow", sans-serif;
}
ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}
body {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    padding: 0 5%;
}
